<ion-header-bar class="bar-balanced ">
	<button class="button button-clear icon ion-ios-arrow-left"></button>
	<h2 class="title">全部订单</h2>
</ion-header-bar>

<ion-content>
	<div class="row text-center">
		<div class="col col-20">全部</div>
		<div class="col col-20">待付款</div>
		<div class="col col-20">待发货</div>
		<div class="col col-20">待收货</div>
		<div class="col col-20">待评价</div>
	</div>
	<div class="on">
		<div class="picture">
			<img src="./images/icons/dindan@2x.png">
		</div>
		<h3>您还没有相关的订单</h3>
		<p>可以去看看有哪些想买的</p>
		<div class="btn">
			<div class="fl"><img src="./images/icons/huo@2x.png"></div>
			<span>大家都在买</span>
		</div>
	</div>

	<div class="row">
		<div class="col col-50 list">
			<img class="full-image" src="./images/img/quanbu@2x.png">
			<h6>2017新款大提花绣花婚庆四件套大红蕾丝结婚床品</h6>
			<p>￥2580<span class="fr">268人已购买</span></p>
		</div>
		<div class="col col-50 list">
			<img class="full-image" src="./images/img/quanbu@2x.png">
			<h6>2017新款大提花绣花婚庆四件套大红蕾丝结婚床品</h6>
			<p>￥2580<span class="fr">268人已购买</span></p>
		</div>
	</div>
</ion-content>