<ion-header-bar class="bar-balanced ">
	<button class="button button-clear icon ion-ios-arrow-left"></button>
	<h2 class="title">全部订单</h2>

</ion-header-bar>

<ion-content>
	<div class="row text-center">
		<div class="col col-20">全部</div>
		<div class="col col-20">待付款</div>
		<div class="col col-20">待发货</div>
		<div class="col col-20">待收货</div>
		<div class="col col-20">待评价</div>
	</div>

	<div class="list">
		<div class="item">
			<span class="one">待发货</span>
			<div class="top">
				<div class="left fl">
					<img src="./images/img/quanbu@2x.png">
				</div>
				<div class="right fr">
					<p>2017新款大提花绣花婚庆四件套大红蕾丝结婚床品</p>
					<p>颜色分类&nbsp;:&nbsp;中国红<span class="fr">￥2580</span></p>
					<p class="fr">x1</p>
				</div>
			</div>
			<p class="two">共&nbsp;1&nbsp;件商品&nbsp;&nbsp;合计￥2580&nbsp;免运费</p>
			<div class="bottom">
				<button class="button button-assertive button-small">提醒发货</button>
			</div>
		</div>
		<div class="item">
			<span class="one">待发货</span>
			<div class="top">
				<div class="left fl">
					<img src="./images/img/quanbu@2x.png">
				</div>
				<div class="right fr">
					<p>2017新款大提花绣花婚庆四件套大红蕾丝结婚床品</p>
					<p>颜色分类&nbsp;:&nbsp;中国红<span class="fr">￥2580</span></p>
					<p class="fr">x1</p>
				</div>
			</div>
			<p class="two">共&nbsp;1&nbsp;件商品&nbsp;&nbsp;合计￥2580&nbsp;免运费</p>
			<div class="bottom">
				<button class="button button-assertive button-small">提醒发货</button>
			</div>
		</div>
	</div>
	<p class="plu">您已经没有更多订单了</p>
</ion-content>