<ion-header-bar align-title="left" class="head">
	<div class="button  button-clear">
		<i class="icon ion-ios-arrow-left"></i>
	</div>
	<h2 class="title">确认订单</h2>
	<div class="button  button-clear">
		<i class="icon ion-ios-more"></i>
	</div>
</ion-header-bar>

<ion-content class="content">
	<h4 class="text-center title">买家已付款</h4>
	<p class="text-center fbt">剩下8天23小时自动确认</p>
	<div class="list li">
		<div class="item item-icon-left item-icon-right top">
			<i class="icon ion-ios-location-outline"></i>
			<h4>收货人: 喵小姐<span class="fr">15816198532</span></h4>
			<p>收货地址: 广东省广州市天河区中山大道中汇鸿商场 醉爱KTV 4楼</p>
			<i class="icon ion-ios-arrow-right"></i>
		</div>
			
		<a class="item item-icon-right item-thumbnail-left" href="#">
			<img src="./images/icons/daishouhuo@2x.png">
	      	<h2 class="er">包裹正在等待揽收</h2>
			<i class="icon ion-ios-arrow-right"></i>
	      	<p>2017-09-12 09:21:17</p>	
	    </a>

		<h4 class="h4">复古奢华六件套</h4>

		<a class="item item-thumbnail-left" href="#">
	      <img src="./images/img/order03.png">
	      <h3>奢华复古欧式贡缎结婚四件套3D浮雕大提花婚庆六件套</h3>
	      <p>罗纳花畔咖—床单六件套</p>
	      <p class="price"><span class="left">￥3316.00</span><span class="fr">x1</span></p>
	    </a>

	    <div class="p">
			<p>售后服务<span class="fr">全国联保</span></p>
		    <p class="freight">运费<span class="fr">￥0.00</span></p>
		    <p>订单总价<span class="fr">￥3316.00</span></p>
		    <p>需付款<span class="fr a">￥3316.00</span></p>
		    <p>订单编码: 56485359566258542</p>
		    <p>创建时间: 2017-8-9 10:45:30</p>
	    </div>
	    
	</div>
</ion-content>