<ion-header-bar class="head">
	<div class="button  button-clear" ng-click="backc()">
		<i class="icon ion-ios-arrow-left"></i>
	</div>
	<h2 class="title">账户安全</h2>
</ion-header-bar>

<ion-content class="content">
	<div class="list">
		<div class="item item-button-right top">
	    	<span>登录密码</span>
	    	<i class="fr">定期修改密码保护账户安全</i>
	    	<button class="button ">
	      		<i class="icon ion-chevron-right"></i>
	    	</button>
	   	</div>

	   	<div class="item item-button-right top">
	    	<span>手机验证</span>
	    	<i class="fr">若手机号码更换了请尽快修改</i>
	    	<button class="button ">
	      		<i class="icon ion-chevron-right"></i>
	    	</button>
	   	</div>

	   	<div class="item item-button-right top">
	    	<span>支付密码</span>
	    	<i class="fr">用于大地蓝支付等验证</i>
	    	<button class="button ">
	      		<i class="icon ion-chevron-right"></i>
	    	</button>
	   	</div> 

	   	<div class="item item-button-right top five">
	    	<span>修改登录密码</span>
	    	<button class="button ">
	      		<i class="icon ion-chevron-right"></i>
	    	</button>
	   	</div> 

	   	<div class="item item-button-right top">
	    	<span>修改支付密码</span>
	    	<button class="button ">
	      		<i class="icon ion-chevron-right"></i>
	    	</button>
	   	</div>  
	</div>
</ion-content>