<ion-header-bar class="head">
	<div class="button  button-clear" ng-click="back()">
		<i class="icon ion-ios-arrow-left"></i>
	</div>
	<h2 class="title">个人资料</h2>
</ion-header-bar>

<ion-content class="content">
	<div class="list">
		<div class="item item-button-right top">
	    	<span>头像</span>
	    	<img class="fr" src="./images/icons/cat.png">
	    	<button class="button ">
	      		<i class="icon ion-chevron-right"></i>
	    	</button>
	   	</div>

	   	<div class="item item-button-right top">
	    	<span>昵称</span>
	    	<i class="fr">Qo喵了个咪oQ</i>
	    	<button class="button ">
	      		<i class="icon ion-chevron-right"></i>
	    	</button>
	   	</div>

	   	<div class="item item-button-right top">
	    	<span>性别</span>
	    	<i class="fr">女</i>
	    	<button class="button ">
	      		<i class="icon ion-chevron-right"></i>
	    	</button>
	   	</div>

	   	<div class="item item-button-right top">
	    	<span>出生日期</span>
	    	<i class="fr">1997.01.26</i>
	    	<button class="button ">
	      		<i class="icon ion-chevron-right"></i>
	    	</button>
	   	</div>

	   	<div class="item item-button-right top">
	    	<span>我的收货地址</span>
	    	<button class="button ">
	      		<i class="icon ion-chevron-right"></i>
	    	</button>
	   	</div>
	</div>
</ion-content>