<ion-header-bar class="head">
	<div class="button  button-clear" ng-click="backb()">
		<i class="icon ion-ios-arrow-left"></i>
	</div>
	<h2 class="title">隐私设置</h2>
</ion-header-bar>

<ion-content class="content">
	<div class="list">
		<div class="item item-button-right top">
	    	<span>允许大地蓝开启定位</span>
	    	<i class="fr">已开启</i>
	    	<button class="button ">
	      		<i class="icon ion-chevron-right"></i>
	    	</button>
	   	</div> 

	   	<div class="item item-button-right top">
	    	<span>允许大地蓝使用相机</span>
	    	<i class="fr">已开启</i>
	    	<button class="button ">
	      		<i class="icon ion-chevron-right"></i>
	    	</button>
	   	</div> 

	   	<div class="item item-button-right top two">
	    	<span>允许大地蓝访问音频</span>
	    	<i class="fr">已开启</i>
	    	<button class="button ">
	      		<i class="icon ion-chevron-right"></i>
	    	</button>
	   	</div> 

	   	<div class="item item-button-right top">
	    	<span>允许大地蓝访问短信</span>
	    	<i class="fr">已开启</i>
	    	<button class="button ">
	      		<i class="icon ion-chevron-right"></i>
	    	</button>
	   	</div> 

	   	<div class="item item-button-right top">
	    	<span>允许大地蓝访问通讯录</span>
	    	<i class="fr">已开启</i>
	    	<button class="button ">
	      		<i class="icon ion-chevron-right"></i>
	    	</button>
	   	</div> 
	</div>
</ion-content>