<ion-header-bar class="bar-balanced head">
	<a class="button icon-left ion-ios-arrow-left button-clear" ng-click="gohome()">&nbsp;&nbsp;评价&nbsp;&nbsp;265</a>
	<a class="button icon-right ion-ios-cart-outline button-clear car"></a>
	<a class="button icon-right ion-ios-more button-clear line" ng-click="toggle()"></a>
</ion-header-bar>

<ion-content class="content">
	<div class="tk" ng-hide="tk">
		<ul>
			<li><i class="button icon ion-ios-bell-outline">   消息</i></li>
			<li><i class="button icon ion-ios-home-outline">   首页</i></li>
			<li><i class="button icon ion-ios-bookmarks-outline">   帮助</i></li>
			<li><i class="button icon ion-share">   分享</i></li>
		</ul>
	</div>
	<ion-list class="checkbox-assertive ">
		<ion-checkbox class="product">只看当前产品
			<div class="assess fr">好评度99%</div>
		</ion-checkbox>
	</ion-list>

	<div class="row row-wrap sg">
		<div class="col col-25"><span>全部&nbsp;254</span></div>
		<div class="col col-25"><span>全部&nbsp;254</span></div>
		<div class="col col-25"><span>全部&nbsp;254</span></div>
		<div class="col col-25"><span>全部&nbsp;254</span></div>
		<div class="col col-25"><span>全部&nbsp;254</span></div>
		<div class="col col-25"><span>全部&nbsp;254</span></div>
	</div>

	<div>
		<div class="list top">
			<div class="item item-avatar top-item">			
				<img src="./images/icons/car03.jpg">
				<p>购买日期: 2017-6-20</p>
				<h3>描***厄（匿名）</h3>
			</div>
			<span class="sp">2017-6-23    颜色分类：中国红</span><br/>
			<p>收货后打开看了一下，非常漂亮，手感也非常好！这款的样式
	也非常大气！太好了！等结婚时，铺在床上再来评价！</p>
		</div>

		<div class="list top">
			<div class="item item-avatar top-item">			
				<img src="./images/icons/car01.jpg">
				<p>购买日期: 2017-6-20</p>
				<h3>描***厄（匿名）</h3>
			</div>
			<span class="sp">2017-6-23    颜色分类：中国红</span><br/>
			<p>收货后打开看了一下，非常漂亮，手感也非常好！这款的样式
	也非常大气！太好了！等结婚时，铺在床上再来评价！</p>
		</div>

		<div class="list top">
			<div class="item item-avatar top-item">			
				<img src="./images/icons/car02.png">
				<p>购买日期: 2017-6-20</p>
				<h3>描***厄（匿名）</h3>
			</div>
			<span class="sp">2017-6-23    颜色分类：中国红</span><br/>
			<p>收货后打开看了一下，非常漂亮，手感也非常好！这款的样式
	也非常大气！太好了！等结婚时，铺在床上再来评价！</p>
		</div>
	</div>
</ion-content>


<!-- 底部 -->

<ion-tabs class="tabs-light tabs-icon-top">

  <ion-tab title="客服" icon-on="ion-ios-telephone" icon-off="ion-ios-telephone-outline">
    <!-- 标签 1 内容 -->
  </ion-tab>

  <ion-tab title="收藏" icon-on="ion-android-favorite" icon-off="ion-android-favorite-outline">
    <!-- 标签 2 内容 -->
  </ion-tab>

  <ion-tab title="加入购物车" icon-on="ion-ios-cart" icon-off="ion-ios-cart-outline">
    <!-- 标签 2 内容 -->
  </ion-tab>

  <ion-tab title="" class="fot">
    
  </ion-tab>

  <div class="btn">
  	<button class="button button-assertive">立即购买</button>
  </div>

</ion-tabs>