<!-- 头部 -->

<ion-header-bar class="bar bar-header bar-balanced">
	<button class="button button-icon icon ion-qr-scanner"></button>
	<div class="item-input-wrapper">
		<i class="icon ion-android-search placeholder-icon"></i>
		<input type="text" placeholder="真丝蚕丝被">
	</div>
	
	<button class="button button-icon icon ion-ios-bell-outline"></button>
</ion-header-bar>

<!-- 内容 -->

<ion-content class="content">
	<ion-slide-box does-continue="true" auto-play="true" slide-interval=2000 on-slide-changed="slideHasChanged($index)">
    <ion-slide class="blue">
      <div class="box">
        <img class="full-image" src="./images/img/quanbu@2x.png">
      </div>
      <p>2017新款大提花绣花婚庆四件套大红蕾丝结婚床品</p>
    </ion-slide >
    <ion-slide class="blue">
      <div class="box">
        <img class="full-image" src="./images/img/quanbu@2x.png">
      </div>
      <p>2017新款大提花绣花婚庆四件套大红蕾丝结婚床品</p>
    </ion-slide>
    <ion-slide class="blue">
      <div class="box">
        <img class="full-image" src="./images/img/quanbu@2x.png">
      </div>
      <p>2017新款大提花绣花婚庆四件套大红蕾丝结婚床品</p>
    </ion-slide>
    
  </ion-slide-box>

  <h4>￥<span>2580</span></h4>

  <div class="row kd">
      <div class="col col-33">快递&nbsp;:&nbsp;免运费</div>
      <div class="col col-33">月销378笔</div>
      <div class="col col-33">江苏泰州</div>
  </div>

  <div class="row kd">
      <div class="col col-40">7天无条件退换货</div>
      <div class="col col-40">24小时内极速发货</div>
      <div class="col col-20">新品<span class="fr">></span></div>
  </div>

  <div class="list lt">
    <a class="item">选择尺码,颜色分类<span class="fr">></span></a>
    <a class="item">宝贝评价&nbsp;&nbsp;(625)</a>
    <a class="item item-avatar">
      <img src="./images/icons/cat.png">
      <h3>描***厄（匿名）</h3>
    </a>
    <a class="item" href="">2017.6.23&nbsp;&nbsp;&nbsp;&nbsp;颜色分类&nbsp;:&nbsp;中国红</a>
    <a class="item" href="">收货后打开看了一下，非常漂亮，手感也非常好！这款的样式
也非常大气！太好了！等结婚时，铺在床上再来评价！</a>
  </div>
    <div class="row">
        <div class="col col-33 col-offset-33 but" ng-click="one()">查看所有评价</div>
    </div>

<!-- 不同 -->

    <div class="row text-center">
        <div class="col col-50 left">图文详情</div>
        <div class="col col-50 right" >产品参数</div>
    </div>

    <ion-slide-box on-slide-changed="slideHasChanged($index)">
  <ion-slide>
    <div class="picture">
        <img class="full-image" src="./images/img/xiangqingye@2x.png">
    </div>
  </ion-slide>
  <ion-slide>
    <div class="row row-wrap text-center font">
        <div class="col col-50 kd">件数&nbsp;:</div>
        <div class="col col-50">四件</div>
        <div class="col col-50 kd">被面材质&nbsp;:</div>
        <div class="col col-50">其他/other</div>
        <div class="col col-50 kd">被里材质&nbsp;:</div>
        <div class="col col-50">棉</div>
        <div class="col col-50 kd">棉种类&nbsp;: </div>
        <div class="col col-50">棉</div>
        <div class="col col-50 kd">成分含量&nbsp;: </div>
        <div class="col col-50">100%</div>
        <div class="col col-50 kd">床品工艺&nbsp;: </div>
        <div class="col col-50">刺绣 绗缝 贴布绣</div>
        <div class="col col-50 kd">图案&nbsp;: </div>
        <div class="col col-50">植物花卉</div>
        <div class="col col-50 kd">款式&nbsp;:</div>
        <div class="col col-50">床盖式</div>
    </div>
  </ion-slide>
</ion-slide-box>

    
</ion-content>



<!-- 底部 -->

<ion-tabs class="tabs-light tabs-icon-top">

  <ion-tab title="客服" icon-on="ion-ios-telephone" icon-off="ion-ios-telephone-outline">
    <!-- 标签 1 内容 -->
  </ion-tab>

  <ion-tab title="收藏" icon-on="ion-android-favorite" icon-off="ion-android-favorite-outline">
    <!-- 标签 2 内容 -->
  </ion-tab>

  <ion-tab title="加入购物车" icon-on="ion-ios-cart" icon-off="ion-ios-cart-outline">
    <!-- 标签 2 内容 -->
  </ion-tab>

  <ion-tab title="" class="fot">
    
  </ion-tab>

  <div class="btn">
  	<button class="button button-assertive">立即购买</button>
  </div>

</ion-tabs>